<h1>Edit Section</h1>

<% if @section.errors.any? %>
  <ul>
    <% @section.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/chapters/<%= @section.chapter.slug %>/sections/<%= @section.slug %>" id="section_form" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="section_number">Number:</label>
  <input id="section_number" name="section[number]" type="text" value="<%= @section.number %>">
  <label for="section_name">Name:</label>
  <input id="section_name" name="section[name]" type="text" value="<%= @section.name %>">
  <select name="section[chapter_id]">
    <option value="<%= @section.chapter.id %>" selected><%= @section.chapter.name %></option>
    <% Chapter.unselected_chapters(@section).each do |chapter| %>
      <option value="<%= chapter.id %>"><%= chapter.name %></option>
    <% end %>
  </select>
</form>

<button form="section_form">Update Section</button>
