<h1>Create a section</h1>

<% if @section.errors.any? %>
  <ul>
    <% @section.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/chapters/<%= params[:chapter_slug] %>/sections/<%= @section.slug %>" id="section_form" method="post">
  <label for="section_number">Number:</label>
  <input id="section_number" name="section[number]" type="text">
  <label for="section_name">Name:</label>
  <input id="section_name" name="section[name]" type="text">
  <select name="section[chapter_id]">
    <% @chapters.each do |chapter| %>
      <option value="<%= chapter.id %>"><%= chapter.name %></option>
    <% end %>
  </select>
  <button>Create section</button>
</form>

