<h1>Edit Lesson</h1>

<% if @lesson.errors.any? %>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/lessons/<%= @lesson.id %>" id="lesson_form" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="lesson_number">Number:</label>
  <input id="lesson_number" name="lesson[number]" type="text" value="<%= @lesson.number %>">
  <label for="lesson_name">Name:</label>
  <input id="lesson_name" name="lesson[name]" type="text" value="<%= @lesson.name %>">
  <select name="lesson[section_id]">
    <option value="<%= @lesson.section.id %>" selected><%= @lesson.section.name %></option>
    <% Section.unselected_sections(@lesson).each do |section| %>
      <option value="<%= section.id %>"><%= section.name %></option>
    <% end %>
  </select>
</form>

<textarea method="" name="lesson[content]" form="lesson_form"><%= @lesson.content %></textarea>
<p><button form="lesson_form">Update Lesson</button></p>
