<h1>Create a lesson</h1>

<% if @lesson.errors.any? %>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/sections/<%= params['section_id']%>/lessons/<%= @lesson.id %>" id="lesson_form" method="post">
  <label for="lesson_number">Number:</label>
  <input id="lesson_number" name="lesson[number]" type="text">
  <label for="lesson_name">Name:</label>
  <input id="lesson_name" name="lesson[name]" type="text">
  <select name="lesson[section_id]">
    <% @sections.each do |section| %>
      <option value="<%= section.id %>"><%= section.name %></option>
    <% end %>
  </select>
</form>

<textarea method="" name="lesson[content]" form="lesson_form">Content:</textarea>
<p><button form="lesson_form">Create Lesson</button></p>
