<h1>Learn How To Program</h1>

<h3>Chapter Table of Contents</h3>

<ul>
  <% @chapters.order(:number).each do |chapter| %>
    <li><a href="/chapters/<%= chapter.slug %>/"><%= chapter.name %></a></li>
    <ul>
      <% chapter.sections.order(:number).each do |section| %>
        <li><a href="chapters/<%= chapter.slug %>/sections/<%= section.slug %>/"><%= section.name %></a></li>
        <ul>
          <% section.lessons.order(:number).each do |lesson| %>
            <li><a href="/sections/<%= section.slug %>/lessons/<%= lesson.slug %>/"><%= lesson.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
</ul>

<p><a href="/chapters/new">Add a new chapter</a></p>
