<h1><%= @chapter.name%></h1>

<ul>
  <% @chapter.sections.order(:number).each do |section| %>
    <li><a href="/chapters/<%= @chapter.slug %>/sections/<%= section.slug %>/"><%= section.name %></a></li>
  <% end %>
</ul>

<p><a href="/chapters/<%= @chapter.slug %>/sections/new">Add a new section to <%= @chapter.name %></a></p>

<button><a href="/chapters/<%= @chapter.slug %>/edit">Edit Chapter</a></button>
<button><a href="/chapters/<%= @chapter.slug %>"
    data-confirm="Sure you want to delete this?"
    data-method="delete"
    rel="nofollow">Delete Chapter</a></button>
<p><a href="/">Return to the Table of Contents</a></p>
